<div class="jumbotron">
  <h1>Welcome to Whisky Blog!</h1>
  <p>Let us share our passion for a dram of whisky. Cheers!</p>
  <a ui-sref="app.whiskies" class="btn btn-primary">All Reviews</a>
</div>

<div class="container" ng-controller="whiskyController">
  <h3>Check out our favorites!</h3>
  <br>

<!-- "col-sm-6 col-md-4" -->
  <div class="HomePageWhisky">
    <div class="row">
      <div class="col-md-4" ng-repeat="whisky in whiskies">
        <div class="thumbnail">
          <img ng-src="{{whisky.image}}" alt="{{whisky.name}}" class="frontPageImages">
          <div class="caption">
            <h3>{{whisky.name}}</h3>
            <p>{{whisky.description}}</p>
            <p><a ui-sref="app.whiskydetails({id: whisky._id})" class="btn btn-primary" role="button">For Info</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div><!-- /.container -->
