<div class="container">
  <button type="button" class="btn btn-xs btn-primary pull-right" ui-sref="app.whiskies">Back to List</button>
  <div class="whiskyDetailPage" ng-controller="whiskyDetailController">
    <h1>Whisky Detail's Page</h1>

    <button type="button" class="btn btn-danger pull-right" ng-click="deleteReview()">Delete</button>
    <button type="button" class="btn btn-primary pull-right">Edit</button>

    <div class="details">
      <img ng-src="{{whisky.image}}" alt="{{whisky.name}}" />
      <h2>{{whisky.name}}</h2>
      <p>{{whisky.description}}</p>
      <p>$ {{whisky.price}}</p>
      <p>How old? {{whisky.year}}</p>
      <p><strong>Nose: </strong>{{whisky.nose}}</p>
      <p><strong>Taste: </strong>{{whisky.taste}}</p>
      <p><strong>Finish: </strong>{{whisky.finish}}</p>
    </div>
  </div>

</div><!-- /.container -->
