<div class="container whiskiesPage" ng-controller="whiskyController">
  <a ui-sref="app.newpost" class="btn btn-primary">Submit New Review</a>

  <h3>Our Favorites</h3>

  <!-- "col-sm-6 col-md-4" -->
  <div class="topWhisky">
    <div class="row">
      <div class="col-md-4" ng-repeat="whisky in whiskies">
        <div class="thumbnail">
          <img ng-src="{{whisky.image}}" alt="{{whisky.name}}">
          <div class="caption">
            <h3>{{whisky.name}}</h3>
            <p>{{whisky.description}}</p>
            <p><a ui-sref="app.whiskydetails({id: whisky._id})" class="btn btn-info" role="button">For Info</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row showWhiskyList">
    <h4>Show All</h4>
    <div class="filterSelect">
      <span>Filter By:</span>
      <select ng-model="sortByStuff">
        <option value="None">-- Select --</option>
        <option value="name">A-Z</option>
        <option value="year">By Year</option>
      </select>
    </div>

    <div class="media mediaWhiskyList" ng-repeat="whisky in whiskyLists | orderBy: sortByStuff">
      <div class="media-left">
        <img class="media-object" src="{{whisky.image}}" alt="{{whisky.name}}">
      </div>
      <div class="media-body">
        <a ui-sref="app.whiskydetails({id: whisky._id})">
          <h4 class="media-heading">{{whisky.name}}</h4>
        </a>
        {{whisky.description}}
      </div>
    </div>

  </div>

</div><!-- /.container -->
